body {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  align-items: stretch;
  height: 100vh;
}

.header {
  background-color: lightblue;
  text-align: center;
  margin: 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.header h2 {
  padding: 0 20px;
}

.header h2:hover {
  background-color: rgba(255, 255, 255, .5);
}

.header-stretch {
  flex-grow: 1;
}

.main-view h1 {
  font-size: 1.5em;

}

.main-view {
  flex: 1 auto;
}

.sidebar {
  border:1px solid goldenrod;
  width: 20vw;
}

.sidebar h1 {
  font-size: 1.3em;
}
