body {
  margin: 0;
  box-sizing: border-box;
}

.main-view {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: stretch;
  height: 100vh;
}

.header {
  background-color: lightblue;
  text-align: center;
  margin: 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.header h2 {
  padding: 0 20px;
}

.header h2:hover {
  background-color: rgba(255, 255, 255, .5);
}

.header-stretch {
  flex-grow: 1;
}

.header-desktop {
  display: none;
}

.main-view h1 {
  font-size: 1.5em;
}

.deck-section {
  border: 1px solid lightblue;
  width: 90vw;
  margin: 10px auto;
}

.user-decks {
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 800px) {

  .header {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .user-decks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header-desktop {
    display: flex;
  }

  .header-mobile {
    display: none;
  }
}
