body {
  margin: 0;
  box-sizing: border-box;
}

.main-view {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: stretch;
  height: 100vh;
}

.header {
  background-color: lightblue;
  text-align: center;
  margin: 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.header h2 {
  padding: 0 20px;
}

.header h2:hover {
  background-color: rgba(255, 255, 255, .5);
}

.header-stretch {
  flex-grow: 1;
}

.main-view h1 {
  font-size: 1.5em;
}

.deck-section {
  border: 1px solid lightblue;
  width: 90vw;
  margin: 10px auto;
}

@media only screen and (min-width: 960px) {
  .wrapper {

  }

  body {
    background-color: black;
  }
}
